.todo {
    margin: 20px 0;
    background-color: #87cefa2e;
    border-radius: 30px;
    border: 3px double #2f09097d;
}

.todoDone {
    background-color: #87cefa2e;
    border: 3px groove #90EE90FF;
}

.todoImportant {
    background-color: rgba(246, 210, 70, 0.25);
    border: 3px groove #ff0000b3;
}