
.todo {
    margin: 20px 0;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}

.todo-green {
    background-color: lightgreen;
}

.todo-blue {
    background-color: lightskyblue;
}

.btn-green {
    background-color: lightgreen;
}

.btn-blue {
    background-color: lightskyblue;
}

.btn-red {
    background-color: hotpink;
}

.todoTitle {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    overflow: hidden;
}

.todoDescription {
    padding: 20px 20px 30px 100px;
    width: 300px;
    overflow: hidden;
}

.textTodoTitle {
    width: 160px;
}
